@font-face {
  font-family: 'Mon';
  src: url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat+Alternates:wght@500&display=swap');
}

.homeHeader {
  font-family: 'Mon';
  font-size: 80px;
  color: rgb(255, 195, 223);
  
  
  }

.homeHeaderPic {
  width: 1500px; 
  height: auto; 
}

.topDiv {
  position: relative;

}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  color: #fff;
  z-index: 100;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navBar ul li {
  margin-left: 20px;
}

.navBar ul li a {
  color: #fff;
  text-decoration: none;
}
