@font-face {
  font-family: 'Mon';
  src: url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat+Alternates:wght@500&display=swap');
}

.homeHeader {
  font-family: 'Mon';
  font-size: 80px;
  color: rgb(255, 195, 223);
  
  
  }

.homeHeaderPic {
  width: 1500px; 
  height: auto; 
}

.topDiv {
  position: relative;

}

.navBar {
  overflow: hidden;
  background-color: rgba(153, 154, 167, 0.524);
  padding: 5px;
  display: flex;
  list-style-type: none;
}

.navBar a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 18px 8px;
text-decoration: none;
font-size: 25px;



}

